.statsModal > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

.statsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-block: 30px;
    border-bottom: 1px solid var(--text-secondary);
}

.statsContainer:nth-child(1) {
    padding-block: 0;
    padding-bottom: 30px;
}

.statContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 10px;
}

.statContainer[data-even="true"] {
    background: var(--text-primary);
    color: var(--background-primary)
}

.statTitle {
    font-weight: 500;
    font-family: var(--font-primary);
    text-shadow: 0 0 10px var(--text-secondary-alt);
}

.statValue {
    /*margin-top: 10px;*/
    padding: 10px;
    width: 100%;
    border: 1px solid var(--text-primary);
    border-radius: 8px;
}