.introScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    background-color: var(--background-primary);
    transition: opacity .4s ease-in;
}

.introScreen[data-intro="true"] {
    opacity: 0;
    pointer-events: none;
}

.introScreenForeground,
.introScreenBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.introScreenBackground {
    z-index: -10;
}

.introScreenContainer {
    width: 30%;
    min-width: 100px;
}

.introTypingVisitedText {
    background: #c9bfbf;
    transition: background .2s;
    user-select: none;
    cursor: pointer;
}

.introTypingVisitedText:visited {
    background: none;
}

.introTypingVisitedText:active {
    background: none;
}

.introSkipButton {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
    user-select: none;
    font-weight: 500;
    margin-top: 20px;
    float: right;
    cursor: pointer;
}

.introSkipButton span {
    animation: initialIntroSkipTextAnimation 3s both, introSkipTextAnimation 2s infinite;
    transition: margin .2s;
}

.introSkipButton:hover span:nth-child(1) {
    margin-right: 5px;
}

.introSkipButton[data-intro="true"] span:nth-child(1) {
    margin-right: 15px;
}

@keyframes initialIntroSkipTextAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes introSkipTextAnimation {
    30% {
        text-shadow: 0 0 8px var(--text-primary);
    }
}