.headerContainer {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 20;
}

@media screen and (max-width: 400px) {
    .headerContainer {
        display: none;
    }
}

.headerContent {
    position: relative;
    width: 100%;
    padding: 4px;
    height: 5%;
    border-bottom: 2px solid var(--text-secondary);
    transition: margin-top .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.collapseAllButton {
    background: none;
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 2px solid var(--text-secondary)
}

.headerButton {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headerLine {
    width: 20%;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    transition: .3s;
}

.headerLine[data-modal="not-exist"] {
    opacity: 0;
}

.headerLine[data-modal="active"] {
    width: 40%;
}

.headerButton button {
    background: none;
    padding-block: 2px;
    padding-inline: 2px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .2s;
}

.headerButton button:hover {
    background-color: var(--text-secondary);
}

.headerContent[data-header="false"] {
    margin-top: -60px;
}

.triggerHeaderButton {
    margin-top: 25px;
    padding: 5px;
    cursor: pointer;
    background: none;
    color: var(--text-primary);
    transition: transform .3s;
}

.triggerHeaderButton[data-header="true"] {
    transform: rotate(180deg);
}