.modalContainer {
    position: absolute;
    width: max-content;
    z-index: 40;
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
    border-radius: 3px;
    border: 0.5px solid var(--text-secondary);
    background-color: var(--background-secondary);
}

.modalContainer[data-modal="active"] {
    z-index: 45;
    box-shadow: 0 0 10px var(--text-secondary);
}

.modalContainer[data-modal="inactive"] {
    z-index: 40;
}

.modalContainer[data-modal="not-exist"] {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
}

.modalContainer[data-fullscreen="true"] {
    box-shadow: none;
    border: none;
}

.modalHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.modalHeaderButtons {
    display: flex;
    align-items: center;
    justify-content: right;
}

.modalHeaderTitle {
    font-weight: 400;
    font-size: 15px;
    opacity: .6;
    font-family: monospace;
    margin-left: 4px;
}

.modalHeader button {
    padding: 8px;
    background: none;
}

.modalHeader button:hover {
    background-color: var(--text-secondary);
}

.closeButton:hover {
    background-color: red !important;
}

.modalContent {
    padding: 20px;
    /*background-color: var(--background-primary);*/
    color: var(--text-primary);
    backdrop-filter: blur(10px);
}