@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Source+Code+Pro:wght@400;500;600;700&display=swap');

*, *:after, *:before {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

:root {
    --background-primary: #0b0b0b;
    --backogrund-secondary: #1d1c1c;
    --background-darked: rgba(0, 0, 0, .3);
    --text-primary: #c9bfbf;
    --text-secondary: rgba(201, 191, 191, 0.18);
    --font-primary: 'Source Code Pro', monospace;
    --font-logo: 'Libre Barcode 39 Text', cursive;
}

body {
    background-color: var(--background-primary);
    color: var(--text-primary);
    font-family: var(--font-primary);
}

@keyframes opacityAnim {
    from {
        opacity: 0;
        pointer-events: none;
    }
    to {
        opacity: 1;
        pointer-events: all;
    }
}